* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #000000;
	font-size: 12px;
	background:#def5fb;

	
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 100%;
}


h2 {
	font-size: 24px;
}


p {
	margin: 0 0 50px 0;
}

a {
	color: #3e3e3e;
}



.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;
}



.Header {
	width: 100%;
	max-width: 1000px;
	min-width: 500px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 0px 0;
	height: 500px;
}

.section {
	width: 100%;
	max-width: 400px;
	min-width: 300px;
	z-index: 10;
	position: absolute;
	margin: 0 auto;
	padding: 0px 0 0px 0;
	height: 400px;
}

.bodysection {
	width: 100%;
	max-width: 1100px;
	min-width: 300px;
	z-index: 10;
	position: absolute;
	margin: 0 auto;
	padding: 0px 0 0px 250px;
	height: 900px;
}

.exsample{
	width: 250px;
	margin: 0 auto;
	position: absolute;
	min-height: 900px;
	padding:0px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #9fe5ff;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}

.subNavBtn {
	display: block;
	height: 35px;
	width: 25%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	
	color: #000000;
}
.subMenu a:hover {
	background: #d2f3ff;
}

.active {
	background: #25aae1;
}
.end {
	margin: 0;
}




/* SECTIONS */
.sTop {
	min-height: 700px;
	background:#fff;
	color:#3d3d3d;
	padding: 0px 0;
	height: 800px;
	
}

.s1 {
	background:#fff;
	margin: 30px 0 0 0px;
	
	color:#882b46;
	
}


.s2 {
	background: #6be0ff;
	margin: 30px 0 0 450px;
}
.s2 a {
	color: #0071fd;
}

.s3 {
	background: #fff;
	margin: 30px 0 0 900px;
}
.s3 a {
	color: #0071fd;
}

.s4 {
	background: #5aa3c4;
}



.s5 {
	background: #bce1f1;
	color: #3d3d3d;
}

.s6 {
	background: #ffffff;
	color: #ffe9d6;
}




